body {
  background: #1a8a70;
}

/* NAVBAR */
/* .navbar-airquest {
  background-color: var(--aq-blue);
  padding: 10px 20px;
} */

.nav-btn {
  background-color: var(--aq-purple);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 14px;
  margin: 0 4px;
}

.nav-btn:hover {
  background-color: #3b2c66;
}

.navbar-brand img {
  height: 55px;
}

/* HERO SECTION */
/* 
.hero-block {
    background: #87BAC3;
    min-height: 40vh;
}
*/

.hero-img {
  position: relative;
  border-radius: 35px;
  z-index: 2;
}

.hero {
  position: relative;
}

.hero-logo {
  max-width: 250px;
}

.hero-title,
.hero-text {
  color: var(--aq-blue);
}

.hero-btn {
  background: var(--aq-purple);
  color: white;
  border-radius: 6px;
}

.hero-btn:hover {
  background: #3b2c66;
  color: white;
}
.flight-search {
  background: #f5f7ff;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

.flight-search .form-control,
.flight-search .form-select {
  background: #f3f4f6;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
}

.flight-search .nav-pills .nav-link {
  border-radius: 999px;
}

.flight-search .nav-pills .nav-link.active {
  background: #53629e;
}

.flight-search .nav-pills .nav-link {
  color: #53629e;
}

.flight-search label {
  font-weight: 500;
  color: #53629e;
}
.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.city-text {
  top: 75%;
  left: 10%;
  z-index: 11;
  font-size: min(1.7vw, 26px);
}

.offer-text {
  font-size: min(1.7vw, 26px);
}

.offer-desc {
  font-size: min(1.2vw, 18px);
}

.overlay::before {
  content: "";
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 50%);
}

.overlay {
  position: relative;
}

.city-hover {
  position: relative;
  overflow: hidden;
}

.city-hover:hover {
  opacity: 0.8;
}

.hover-info {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 1);
  max-height: 0;
  transition: max-height 0.4s ease-in-out;
  z-index: 30;
}

.show-hover-info {
  max-height: 50%;
}

.hide-hover-info {
  max-height: 0;
}

.hover-info .card-body {
  color: white;
}
footer {
  width: 100%;
  margin: 0;
  padding: 0;
}
