:root {
  --aq-blue: #53629e;
  --aq-purple: #473472;
  --aq-light-bg: #d6f4ed;
}

body {
  background: #d6f4ed;
}

/* NAVBAR */
/* .navbar-airquest {
  background-color: var(--aq-blue);
  padding: 10px 20px;
} */

.nav-btn {
  background-color: var(--aq-purple);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 14px;
  margin: 0 4px;
}

.nav-btn:hover {
  background-color: #3b2c66;
}

.navbar-brand img {
  height: 55px;
}

/* HERO SECTION */
/* 
.hero-block {
    background: #87BAC3;
    min-height: 40vh;
}
*/

.hero-img {
  border-radius: 35px;
}

.hero-logo {
  max-width: 250px;
}

.hero-title,
.hero-text {
  color: var(--aq-blue);
}

.hero-btn {
  background: var(--aq-purple);
  color: white;
  border-radius: 6px;
}

.hero-btn:hover {
  background: #3b2c66;
  color: white;
}
.flight-search {
  background: #f5f7ff;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

.flight-search .form-control,
.flight-search .form-select {
  background: #f3f4f6;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
}

.flight-search .nav-pills .nav-link {
  border-radius: 999px;
}

.flight-search .nav-pills .nav-link.active {
  background: #53629e;
}

.flight-search .nav-pills .nav-link {
  color: #53629e;
}

.flight-search label {
  font-weight: 500;
  color: #53629e;
}
